{% load static from staticfiles %}
{% load app_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <title>expired deadlines</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/expired_deadlines.css" %}" />
</head>
<body>

<table>
    {% for scholarship in scholarships %}
    <tr class="{% if scholarship.status == 1 %}expired{% elif scholarship.modified < one_week_ago%}not-modified{% endif %}" data-scholarship-id="{{ scholarship.id }}">
        <td>
            <a href="{{ scholarship.third_party_url }}"  target="_blank">
            {{ scholarship.title|truncatechars:60 }}
            </a>
        </td>
        <td>
            <a href="/admin/search/scholarship/{{ scholarship.id }}/" target="_blank">edit</a>
        </td>
        <td>
            <a href="/scholarship/{{ scholarship.id|id_to_key }}/" target="_blank">view</a>
        </td>
        <td>
            <span class="deadline" data-deadline="1">{{ scholarship.deadline|date:"Y-m-d"|default:"none" }}</span>
        </td>
        <td>
            <span class="deadline" data-deadline="2">{{ scholarship.deadline2|date:"Y-m-d"|default:"none" }}</span>
        </td>
        <td>
            <span class="deadline" data-deadline="3">{{ scholarship.deadline3|date:"Y-m-d"|default:"none" }}</span>
        </td>
        <td>
            <button class="btn expire-button" data-scholarship-id="{{ scholarship.id }}">{% if scholarship.status == 0%}expire{% else %}unexpire{% endif %}</button>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if scholarships.has_previous %}
            <a href="?page={{ scholarships.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ scholarships.number }} of {{ scholarships.paginator.num_pages }}.
        </span>

        {% if scholarships.has_next %}
            <a href="?page={{ scholarships.next_page_number }}">next</a>
        {% endif %}
    </span>
    <span> {{ result_count }} total results</span>
</div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/expired_deadlines.js" %}"></script>
</body>
</html>