.expired {
    background: #c9c9c9;
}

td {
    padding: 5px 5px 5px 5px;
}

td > .deadline-input {
    margin-top: 0;
    margin-bottom: 0;
}

.not-modified {
    background: #fffac5;
}

tr {
    background: #c6ffc9;
}