.highlighted {
    background: #ffff8f;
}

.expired {
    background: #c9c9c9;
}

td {
    padding: 5px 5px 5px 5px;
}

td > .deadline-input {
    width: 75px;
    margin-top: 0;
    margin-bottom: 0;
}