{% extends "navshell.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="backdrop">
                    <h2>
                        About
                    </h2>
                    <p>
                    Scholar Hippo is a scholarship search engine.
                    Its index contains more scholarships than any other site.
                    </p>
                    <p>

                    Scholar Hippo will always be free for scholarship seekers and we will never give personal information
                        to third parties without permission.
                    </p>


                    <h2>Advertise</h2>
                    <p>
                    We display keyword-targeted ads on search result pages, similar to other big-name search engines.
                    </p>
                </div>
            </div>
            <div class="span4">
                <div class="backdrop">
                    <h2>Who are ya'll?</h2>
                    <p>Actually, we're just two dudes. Making a search engine on our own is pretty difficult.
                        Go ahead and send us some feedback.</p>
                    <h2>Contact</h2>
                    Nick Carneiro
                    <p><i>Chief Wizard Officer</i></p>
                    <ul>
                        <li>(310) 894-6237</li>
                        <li>NickC@trillworks.com</li>
                    </ul>
                    Gaurav Mathur
                    <p><i>Chairman of the Infinite</i></p>
                    <ul>
                        <li><a href="http://twitter.com/ggmathur">@ggmathur</a></li>
                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="backdrop">
                    <img src="/static/img/austinmap.png">
                </div>
            </div>
            </div>
        </div>

    </div>
{%  endblock %}