#navshell-search-button {
    margin: 10px 0 10px 0;
}


#navshell-header-padding {
    padding: 10px 0 10px 10px;
}

#navshell-logo {
    min-width: 300px;
    padding: 0 0 0 10px;
    color: #777;
}

#navshell-search-controls {
    margin: 0px 0 10px 30px;
}

#location-combobox {
    width: 200px;
}

#keyword-input {
    height: 18px;
}

#search-form-row .input-container {
    min-width: 300px;
    margin-left: 10px;
}

#navshell-footer {
    margin-top: 70px;
    text-align: center;
    width: 100%;
    color: #777;

}

#site-title .title-link:hover{
    text-decoration: none;
    color: rgb(51, 51, 51);
}

#site-title .title-link {
    color: rgb(51, 51, 51);
}

#navshell-logo .title-link > h1 {
    font-size: 30px;
}

#logo-img {
    float: left;
    margin-right: 10px;
}

#navshell-header-bar {
    background: #fff;

}

#search-form-row {
    background: #fff;
}