.content-block {
  background: #fff;
  margin: 0;
  padding: 15px;
}

.organization {
  font-size: 20px;
}


.description-container {
  margin: 10px 0 0 0;
}

.light-text {
  color: #808080;
}

.apply-button {
  margin: 10px 0 10px ;
}